- 
    var obj = [
    {
        link: '<a href="#"> dsf </a>',
        title: 'prop'
    },
    {
        link: '<a href="#"> dsf </a>',
        title: 'prop'
    }
    ]

each item in obj
    .obj
        .link!= item['link']
        .title text #{item.title}
        .box(data-class=`${item.title}`)
        .box(data-class="#{item.title}")