<section class="section hero">
  <ul class="socials">
    <li class="socials__item">
      <a href="" class="socials__link socials__link_fb"></a>
    </li>
    <li class="socials__item">
      <a href="" class="socials__link socials__link_vk"></a>
    </li>
    <li class="socials__item">
      <a href="" class="socials__link socials__link_in"></a>
    </li>
  </ul>
  <a href="" class="hamburger"></a>
  <a href="" class="down-arrow"></a>
  <div class="hero__title">
    <img src="" alt="" class="section__title">
    <div class="user hero__user-block">
      <div class="user__photo"></div>
      <div class="user__name"></div>
      <div class="user__desc"></div>
    </div>
  </div>
</section>
<section class="section about">
  <div class="about__left">
    <svg class="triangle triangle_fill_white"></svg>
    <div class="title about__section-title">Обо мне</div>
    <div class="user-about">
      <div class="user-about__pictures"></div>
      <div class="user-about__title subtitle">Кто я</div>
      <div class="user-about__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur molestiae quam cum accusamus quos dolores quis consequatur provident id, tempore!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos recusandae vero sint incidunt nobis omnis nam cum numquam dolore, repellendus.</p>
      </div>
    </div>
  </div>
  <div class="about__right">
    <svg class="triangle triangle_fill_beige"></svg>
    <div class="about-data">
      <div class="about-data__description about-user-info">
        <div class="about-data__title ">
        <div class="subtitle">Чем я могу быть вам полезен</div>
        </div>
        <div class="about-data__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus modi suscipit, qui inventore maxime sunt sed animi, dolore beatae a!</p>
        </div>            
      </div>
      <div class="about-data__content">
        <ul class="skills">
          <li class="skills__item">
            <div class="skill-section">
              <h4 class="skill-section__title">Frontend</h4>
              <ul class="skill-section__list">
                <li class="skills-section__item">
                  <div class="skill">
                    <svg class="skill__circle"></svg>
                    <h5 class="skill__name"></h5>
                  </div>
                </li>
                <li class="skills-section__item">
                  <div class="skill">
                    <svg class="skill__circle"></svg>
                    <h5 class="skill__name"></h5>
                  </div>
                </li>
                <li class="skills-section__item">
                  <div class="skill">
                    <svg class="skill__circle"></svg>
                    <h5 class="skill__name"></h5>
                  </div>
                </li>
              </ul>
            </div>
            <div class="skill-section">
              <h4 class="skill-section__title">Backend</h4>
              <ul class="skill-section__list">
                <li class="skills-section__item">
                  <div class="skill">
                    <svg class="skill__circle"></svg>
                    <h5 class="skill__name"></h5>
                  </div>
                </li>
                <li class="skills-section__item">
                  <div class="skill">
                    <svg class="skill__circle"></svg>
                    <h5 class="skill__name"></h5>
                  </div>
                </li>
                <li class="skills-section__item">
                  <div class="skill">
                    <svg class="skill__circle"></svg>
                    <h5 class="skill__name"></h5>
                  </div>
                </li>
              </ul>
            </div>
            <div class="skill-section">
              <h4 class="skill-section__title">WorkFlow</h4>
              <ul class="skill-section__list">
                <li class="skills-section__item">
                  <div class="skill">
                    <svg class="skill__circle"></svg>
                    <h5 class="skill__name"></h5>
                  </div>
                </li>
                <li class="skills-section__item">
                  <div class="skill">
                    <svg class="skill__circle"></svg>
                    <h5 class="skill__name"></h5>
                  </div>
                </li>
                <li class="skills-section__item">
                  <div class="skill">
                    <svg class="skill__circle"></svg>
                    <h5 class="skill__name"></h5>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="skills__item"></li>
          <li class="skills__item"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section map"></section>