<section class="aboutbox">
  <h2 class="aboutbox-header">Основна информация</h2>
  <div class="aboutbox-body clearfix">
    <div class="image-wrap">
      <div class="avatar-box">
        <img src="images/avatar.jpg" class="avatar">
      </div>
    </div>
    <div class="worksheet-wrap">
      <ul class="worksheet-list">
          <li class="worksheet-item clearfix">
            <div class="worksheet-what">Меня зовут:</div>
            <div class="worksheet-info">Владимир Гребенко</div>
          </li>
          <li class="worksheet-item clearfix">
            <div class="worksheet-what">Мой возраст:</div>
            <div class="worksheet-info">32 года</div>
          </li>
          <li class="worksheet-item clearfix">
            <div class="worksheet-what">Мой город:</div>
            <div class="worksheet-info">Кропивницкий</div>
          </li>
          <li class="worksheet-item clearfix">
            <div class="worksheet-what">Моя специальность:</div>
            <div class="worksheet-info">WEB разработчик</div>
          </li>
          <li class="worksheet-item clearfix">
            <div class="worksheet-what">Ключевые навыки:</div>
            <div class="worksheet-info skills">
              <ul class="skills-list">
                <li class="skill-item">html</li>
                <li class="skill-item">css</li>
                <li class="skill-item">less</li>
                <li class="skill-item">sass</li>
                <li class="skill-item">Bootstrap</li>
                <li class="skill-item">javascript</li>
                <li class="skill-item">jQuery</li>
                <li class="skill-item">Angular</li>
                <li class="skill-item">gulp</li>
                <li class="skill-item">git</li>
                <li class="skill-item">php</li>
                <li class="skill-item">Laravel</li>
                <li class="skill-item">WordPress</li>
              </ul>
            </div>
          </li>
        </ul>  
    </div>
  </div>
</section>
<section class="aboutbox">
  <h2 class="aboutbox-header">Опыт работы</h2>
  <div class="aboutbox-body clearfix">
    <ul class="aboutbox-list">
      <li class="aboutbox-item icon-work">
        <div class="where">"Expert-soft" - веб разработчик</div>
        <div class="period">май 2016 - апрель 2017</div>
      </li>
      <li class="aboutbox-item icon-work">
        <div class="where">"DvaCom" - веб разработчик</div>
        <div class="period">май 2017 - август 2017</div>
      </li>
    </ul>
  </div>
</section>
<section class="aboutbox">
  <h2 class="aboutbox-header">Образование</h2>
  <div class="aboutbox-body clearfix">
    <ul class="aboutbox-list">
      <li class="aboutbox-item icon-college">
        <div class="where">Среднее техническое. КТМСХ</div>
        <div class="period">2002 - 2006</div>
      </li>
      <li class="aboutbox-item icon-course">
        <div class="where">Курсы Ш++. Веб разработка</div>
        <div class="period">сентябрь 2015 - июнь 2016</div>
      </li>
    </ul>
  </div>
</section>