<aside class="sidebar">
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item current"><a href="/" class="navigation-link">Обо мне</a></li>
        <li class="navigation-item"><a href="/my-work.html" class="navigation-link"> Мои работы</a></li>
        <li class="navigation-item"><a href="/contact-me.html" class="navigation-link"> Связаться со мной</a></li>
      </ul>
    </nav>
    <address class="contacts">
      <h2 class="contacts-header">Контакты</h2>
      <ul class="contacts-list">
        <li class="contacts-item contactsmessage">
          <a href ="mailto:vhrebenko@gmail.com" class="contacts-link "><i class="fa fa-envelope-o" aria-hidden="true"></i><span>vhrebenko@gmail.com</span></a>
        </li>
        <li class="contacts-item contactsphone">
          <a href ="tel:+3(095)3697128" class="contacts-link "><i class="fa fa-phone" aria-hidden="true"></i><span>+3(095)3697128</span></a>
        </li>
        <li class="contacts-item contactsskype">
          <a href="callto:vhrebenko" class="contacts-link "><i class="fa fa-skype" aria-hidden="true"></i><span>vhrebenko</span></a>
        </li>
      </ul>
    </address>
</aside>